@import 'src/assets/styles/colors.scss';

@mixin flex-center-col {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.portfolio-section{
  position: relative;
  top: -320px;
  z-index: 8;
}
.portfolio-header{
  text-align: center;
  margin: 25px 0;
}
.project-container{
  @include flex-center-col;
  .project-element{
    background-color: $hex-color-img;
    width: 90%;
    margin: 25px 0;
    border-radius: 20px;
    padding: 5px;
    list-style: none;
    .project-element__img--container{
      @include flex-center-col;
      .project-element__img{
        margin: 25px 0;
        opacity: 0.7;
        display: block;
        width: 35%;
      }
      .project-element__img--text__container{
        background-color: $base-color;
        position: relative;
        top: 5px;
        width: 100%;
        padding: 25px 25px;
        overflow: hidden;
        opacity: 0.7;
        .project-element__img--text{
          text-align: center;
          display: block;
          // &.header{
           
          // }
          // &.content{
          //   // padding-top: 20px;
          // }
        }
        .project-element__img--text-dot--container{
          display: flex;
          flex-direction: column;
          width: 100%;
          justify-content: center;
          align-items: center;
          margin: 10px 0;
          .project-element__img--text-dot{
            display: block;
            width: 6px;
            height: 6px;
            background-color: $base-color;
            position: relative;
            border-radius: 50%;
            border: 3px solid $hex-color-img;
            &::before{
              position: absolute;
              left: -20px;
              content: '';
              display: block;
              width: 6px;
              height: 6px;
              background-color: $hex-color-img;
              border-radius: 50%;
            }
            &::after{
              position: absolute;
              left: 20px;
              content: '';
              display: block;
              width: 6px;
              height: 6px;
              background-color: $hex-color-img;
              border-radius: 50%;
            }
          }

        }
      }
    }
  }
}
