@import 'src/assets/styles/colors.scss';
@import 'src/assets/styles/hex/index';
.about{
  width: 100vw;
}
.parentSection{
  position: relative;
  z-index: 1;
  height: 90vh;
}

.grid{
    position: absolute;
    z-index: 100;
    width: 100vw;
    overflow-x: hidden;
}
