@import 'src/assets/styles/colors.scss';
@import 'src/assets/styles/hex/index';

.parentSection{
  position: relative;
  z-index: 1;
}
.about-section {
    position: absolute;
    z-index: 18;
    top: 40px;
    right: -8px;
}
.about-header{
  display: block;
  width: 250px;
  margin: 5px 0;
}
.row{
  font-size: 16px;
  padding: 2px;
  display: block;
  width: 220px;
  &.row-1{
    position: relative;
    top: 5px;
  }
  &.row-2{
    position: relative;
    top: 20px;
    right: 45px;
  }
  &.row-3{
    position: relative;
    top: 25px;
    right: 100px;
  }
}

.grid{
    position: relative;
    top: 0;
    z-index: 8;
}